/********************
add.js
********************/

.add-game {
	margin: auto;
}

#sport {
	width: 300px;
    display: inline-block;
    box-sizing: border-box;
}

#rules {
	width: 300px;
    display: inline-block;
    box-sizing: border-box;
}

#time {
	width: 300px;
    display: inline-block;
    box-sizing: border-box;
}

#location {
	width: 300px;
    display: inline-block;
    box-sizing: border-box;
}

#original_players {
	width: 300px;
    display: inline-block;
    box-sizing: border-box;
}

#needed_players {
	width: 300px;
    display: inline-block;
    box-sizing: border-box;
}

.addFormSubmit {
	margin-left: 18%
}

.addFormCancel {
	margin-left: 11.5%
}

#errorMessage {
	padding-left: 50px;
	padding-top: 10px;
}

input[type=text], input[type=datetime-local] {
	border-bottom-color: #CD5C5C;
	border-bottom-width: 5px;
	font-size: 2.3rem;
	padding-left:  13%;
	height: 5.5rem;
	margin: 0 0 30px;
}

table {
	width: 300;
	height: 600;
}

.form-control {
	color: white;
}