/*.img-responsive {
	max-width: 10%;
	max-height: auto;
}*/

/*#addTableID {*/
	/*visibility: hidden;*/
/*}*/

#x {
	cursor: pointer
}

body, html {
	background-color: indianred;
}

h1 {
	font-family: 'Pacifico', cursive;
}

.brand-logo {
	font-family: 'Pacifico', cursive;
}

#fixedNav {
	/*height: 10%;*/
	position: fixed;
}

.linkFont {
	color: white;
}

/*.fieldError {
	border-color: red;
	border-width: 3px;
}*/

#errorMessage {
	display: none;
}

.newPlayerEntry {
	display: none;
}

html, body {
    height: 100%;
}

#gamesView {
	/*display: inline-block;*/
	float: right;
	width: 28%;
	background-color: red;
	height: 100%;
	overflow: scroll;
}

.listOfPossibleLocations {
	cursor: pointer;
	font-size: 20px;
}

.listOfPossibleLocations:hover {
	font-size: 30px;
	background-color: lightgrey;
}

#map {
	position: absolute;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
}


.brand-logo {
	margin-left: 14px;
}

.fa-globe {
	display: inline;
}

.fa-calendar {
	margin-left: 5px;
}

.card.card-panel.hoverable {
	width: 390px;
}



/******************
Game Card
******************/

#GameCard {
	background-color:black;
	width:450px;
	height:450px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 100;
	opacity:0.7;
	top:-500px;
}

#HideGameCardButton {
	position: absolute;
	right:5px;
	top:5px;
	width:30px;
	height:30px;
	background-color: transparent;
	border: none;
}

#JoinGame {

}


.SlideInFromTop {
	animation: 250ms slideFromTop ease-in-out;
	animation-fill-mode: forwards;
	-webkit-transition: 250ms slideFromTop ease-in-out;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes slideFromTop {
    100% { top: 375px; }
}
​
@keyframes slideFromTop {
	100% {
        top: 375px;
    }
}

.SlideOutToTop {
	animation: 250ms slideOutTop ease-in-out;
	animation-fill-mode: forwards;
	-webkit-transition: 250ms slideOutTop ease-in-out;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes slideOutTop {
    100% { top: -500px; }
}
​
@keyframes slideOutTop {
	100% {
        top: -500px;
    }
}

#GameCardTitle {
	color:white;
	font-family: 'Pacifico', cursive;
	font-size:24px;
	top:25px;
	left:50%;
	transform:translateX(-50%);
	position:absolute;
}

#GameCardAuthor, #GameCardPlayerCount, #GameCardPlayers, #GameRules , #GameLocation {
	color:white;
	font-family: 'Roboto';
	font-size:18px;
	top:75px;
	left:50%;
	transform:translateX(-50%);
	position:absolute;
}

#GameCardPlayerCount {
	top: 125px;
}

#GameCardPlayers {
	top: 175px;
	width:100%;
	text-align: center;
}

#GameRules {
	top: 225px;
}

#GameLocation {
	top: 275px;

}


